<section id="cta" class="cta-section">
  <!-- =======================================================
       IMAGE MARQUEE
       ======================================================= -->

  <!-- ROW 1 -->
  <div class="cta-row cta-row-left">
    <div class="cta-track">
      <img src="/assets/images/locations/eiffel-tower/image-1.jpg" alt="" />
      <img src="/assets/images/locations/seine-river/image-2.jpg" alt="" />
      <img src="/assets/images/locations/champs-elysees/image-3.png" alt="" />
      <img src="/assets/images/locations/milan/image-1.jpg" alt="" />
      <img src="/assets/images/locations/hong-kong/image-2.webp" alt="" />
      <img src="/assets/images/locations/loire-valley/image-1.png" alt="" />
      <img src="/assets/images/locations/naples/image-3.jpg" alt="" />
      <img src="/assets/images/locations/alexandre-iii-bridge/image-2.jpg" alt="" />
      <img src="/assets/images/locations/saigon-domain/image-1.webp" alt="" />
      <img src="/assets/images/locations/les-deux-magots/image-4.jpg" alt="" />

      <!-- Duplicate -->
      <img src="/assets/images/locations/eiffel-tower/image-1.jpg" alt="" />
      <img src="/assets/images/locations/seine-river/image-2.jpg" alt="" />
      <img src="/assets/images/locations/champs-elysees/image-3.png" alt="" />
      <img src="/assets/images/locations/milan/image-1.jpg" alt="" />
      <img src="/assets/images/locations/hong-kong/image-2.webp" alt="" />
      <img src="/assets/images/locations/loire-valley/image-1.png" alt="" />
      <img src="/assets/images/locations/naples/image-3.jpg" alt="" />
      <img src="/assets/images/locations/alexandre-iii-bridge/image-2.jpg" alt="" />
      <img src="/assets/images/locations/saigon-domain/image-1.webp" alt="" />
      <img src="/assets/images/locations/les-deux-magots/image-4.jpg" alt="" />
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="cta-row cta-row-right">
    <div class="cta-track">
      <img src="/assets/images/locations/bercy-park/image-2.jpg" alt="" />
      <img src="/assets/images/locations/mirabeau-bridge/image-1.jpg" alt="" />
      <img src="/assets/images/locations/bretagne/image-3.jpg" alt="" />
      <img src="/assets/images/locations/charles-de-gaulle/image-2.jpg" alt="" />
      <img src="/assets/images/locations/paris-flea-market/image-2.webp" alt="" />
      <img src="/assets/images/locations/haussmann/image-1.png" alt="" />
      <img src="/assets/images/locations/tolbiac/image-2.png" alt="" />
      <img src="/assets/images/locations/tsim-sha-tsui-east/image-1.jpg" alt="" />
      <img src="/assets/images/locations/ladies-market/image-1.webp" alt="" />
      <img src="/assets/images/locations/peak-tower/image-1.jpg" alt="" />

      <!-- Duplicate -->
      <img src="/assets/images/locations/bercy-park/image-2.jpg" alt="" />
      <img src="/assets/images/locations/mirabeau-bridge/image-1.jpg" alt="" />
      <img src="/assets/images/locations/bretagne/image-3.jpg" alt="" />
      <img src="/assets/images/locations/charles-de-gaulle/image-2.jpg" alt="" />
      <img src="/assets/images/locations/paris-flea-market/image-2.webp" alt="" />
      <img src="/assets/images/locations/haussmann/image-1.png" alt="" />
      <img src="/assets/images/locations/tolbiac/image-2.png" alt="" />
      <img src="/assets/images/locations/tsim-sha-tsui-east/image-1.jpg" alt="" />
      <img src="/assets/images/locations/ladies-market/image-1.webp" alt="" />
      <img src="/assets/images/locations/peak-tower/image-1.jpg" alt="" />
    </div>
  </div>

  <!-- ROW 3 -->
  <div class="cta-row cta-row-left">
    <div class="cta-track">
      <img src="/assets/images/locations/seine-river/image-5.jpg" alt="" />
      <img src="/assets/images/locations/naples/image-5.webp" alt="" />
      <img src="/assets/images/locations/hong-kong/image-1.webp" alt="" />
      <img src="/assets/images/locations/champs-elysees/image-6.png" alt="" />
      <img src="/assets/images/locations/milan/image-4.jpg" alt="" />
      <img src="/assets/images/locations/loire-valley/image-3.jpg" alt="" />
      <img src="/assets/images/locations/alexandre-iii-bridge/image-4.jpg" alt="" />
      <img src="/assets/images/locations/saigon-domain/image-3.webp" alt="" />
      <img src="/assets/images/locations/les-deux-magots/image-2.jpg" alt="" />
      <img src="/assets/images/locations/eiffel-tower/image-3.jpg" alt="" />

      <!-- Duplicate -->
      <img src="/assets/images/locations/seine-river/image-5.jpg" alt="" />
      <img src="/assets/images/locations/naples/image-5.webp" alt="" />
      <img src="/assets/images/locations/hong-kong/image-1.webp" alt="" />
      <img src="/assets/images/locations/champs-elysees/image-6.png" alt="" />
      <img src="/assets/images/locations/milan/image-4.jpg" alt="" />
      <img src="/assets/images/locations/loire-valley/image-3.jpg" alt="" />
      <img src="/assets/images/locations/alexandre-iii-bridge/image-4.jpg" alt="" />
      <img src="/assets/images/locations/saigon-domain/image-3.webp" alt="" />
      <img src="/assets/images/locations/les-deux-magots/image-2.jpg" alt="" />
      <img src="/assets/images/locations/eiffel-tower/image-3.jpg" alt="" />
    </div>
  </div>

  <!-- ROW 4 -->
  <div class="cta-row cta-row-right">
    <div class="cta-track">
      <img src="/assets/images/locations/charles-de-gaulle/image-3.jpg" alt="" />
      <img src="/assets/images/locations/bercy-park/image-4.jpg" alt="" />
      <img src="/assets/images/locations/bretagne/image-1.jpg" alt="" />
      <img src="/assets/images/locations/mirabeau-bridge/image-3.jpg" alt="" />
      <img src="/assets/images/locations/paris-flea-market/image-1.jpg" alt="" />
      <img src="/assets/images/locations/haussmann/image-2.png" alt="" />
      <img src="/assets/images/locations/tolbiac/image-1.png" alt="" />
      <img src="/assets/images/locations/bois-de-vincennes/image-1.jpg" alt="" />
      <img src="/assets/images/locations/faubourg-saint-honore/image-1.png" alt="" />
      <img src="/assets/images/locations/gare-de-lyon/image-1.png" alt="" />

      <!-- Duplicate -->
      <img src="/assets/images/locations/charles-de-gaulle/image-3.jpg" alt="" />
      <img src="/assets/images/locations/bercy-park/image-4.jpg" alt="" />
      <img src="/assets/images/locations/bretagne/image-1.jpg" alt="" />
      <img src="/assets/images/locations/mirabeau-bridge/image-3.jpg" alt="" />
      <img src="/assets/images/locations/paris-flea-market/image-1.jpg" alt="" />
      <img src="/assets/images/locations/haussmann/image-2.png" alt="" />
      <img src="/assets/images/locations/tolbiac/image-1.png" alt="" />
      <img src="/assets/images/locations/bois-de-vincennes/image-1.jpg" alt="" />
      <img src="/assets/images/locations/faubourg-saint-honore/image-1.png" alt="" />
      <img src="/assets/images/locations/gare-de-lyon/image-1.png" alt="" />
    </div>
  </div>

  <!-- =======================================================
       DARK OVERLAY
       ======================================================= -->

  <div class="cta-overlay"></div>

  <!-- =======================================================
       CENTER CTA
       ======================================================= -->

  <div class="cta-content">
    <a class="cta-button group" href="/eiffel-tower">
      <span class="cta-label"> Bắt đầu hành trình </span>

      <span class="cta-icon">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
    </a>
  </div>
</section>
